<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<title>Edição de Professores</title>
</head>

<body>
	<div class="container-fluid">
		<div class="card-header">
			<strong>Edição de Professores</strong>
		</div>
		<div class="card-body">
			<form class="form-horizontal" th:object="${professor}" th:action="@{/professor/alterar}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<label>Id</label>
							<input type="text" th:field="*{id}" class="form-control input-sm"  autofocus="autofocus" readonly
							 maxlength="50" name="" />
						</div>
						<div class="form-group row">
							<label>Nome</label>
							<input type="text" th:field="*{nome}" class="form-control input-sm"  autofocus="autofocus" placeholder="Informe o nome"
							 maxlength="50" name="" />
						</div>
					</fieldset>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-sm btn-primary">Alterar</button>
					<a  href="/professor/listaProfessores" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>

		
</body>

</html>